body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 656px;
    height: 469px;
    border-radius: 10px;
    border:1px solid #080808;
    background-color: rgb(8 8 8 / 22%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.list-item {
    width: 90%;
    height: 75px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: move;
    justify-content: space-between;
    padding-right: 10px;
}

.drag-icon{
    width: 30px;
}

.dragged-over-element{
    opacity: 0.5;
}